<ion-content class="ion-padding">
  <h1>
    <ion-anchor class="arrow-back-anchor" color="primary" [routerLink]="['/login']" routerDirection="forward">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-anchor>
    Forgot password
  </h1>

  <ion-item class="ion-no-padding">
    <ion-label position="floating">Email registered in the system:*</ion-label>
    <ion-input name="username" [(ngModel)]="username" type="text"> </ion-input>
  </ion-item>

  <ion-button shape="round" type="button" class="change-button" expand="block" size="small" (click)="updatePassword()">Change Password</ion-button>
</ion-content>